@charset "UTF-8";

/*------------------- NAV ------------*/
.navbar   {
	padding: 0px 0px;
	background-color: #01A5D5!important;
}
.bg-dark {
	background-color: #01A5D5;	
}
.navbar .navbar-brand {
	padding: 0px;
	height: 55px;
}
#logo {
	height: 55px;
	}

/*------------------- CONTENT HOME ------------*/
.carousel-indicators {
	margin-bottom: 0rem;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
	margin-left: 80%;
}

body div.row div.col-12.d-flex.justify-content-end {
	margin: 5px 0;
}
#facebook1 {
	padding: 7px 0 0 5px;
	border-radius: 100%;
	background-color: #3b5998;
	color: white;
	height: 30px;
	width: 30px;
	margin: 0 8px;
}
#facebook1:hover {
	opacity: 0.3;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#twitter1 {
	padding: 7px 0 0 5px;
	border-radius: 100%;
	background-color: #00acee;
	color: white;
	height: 30px;
	width: 30px;
	margin: 0 8px;
}
#twitter1:hover {
	opacity: 0.3;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#googleplus1 {
	padding: 7px 0 0 5px;
	border-radius: 100%;
	background-color: #d34836;
	color: white;
	height: 30px;
	width: 30px;
	margin: 0 8px;
}
#googleplus1:hover {
	opacity: 0.3;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#linkedin1 {
	padding: 7px 0 0 5px;
	border-radius: 100%;
	background-color: #0e76a8;
	color: white;
	height: 30px;
	width: 30px;
	margin: 0 8px;
}
#linkedin1:hover {
	opacity: 0.3;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#instagram1 {
	padding: 7px 0 0 5px;
	border-radius: 100%;
	background-color: black;
	color: white;
	height: 30px;
	width: 30px;
	margin: 0 8px;
}
#instagram1:hover {
	opacity: 0.3;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#pinterest1 {
	padding: 7px 0 0 5px;
	border-radius: 100%;
	background-color: #c8232c;
	color: white;
	height: 30px;
	width: 30px;
	margin: 0 8px;
}
#pinterest1:hover {
	opacity: 0.3;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
.card-deck {
	margin: 0px 0px;
}


/*------------------- FOOTER ------------*/
#columnafooter1 {
	
}

#columnafooter2 {
	
}

#columnafooter3 {
	
}

#footer {
	padding-top: 1vh;
	background-color: #01A5D5;
	width:100%;
}

/*------------ ICONOS RRSS FOOTER -----------*/
#facebook {
	padding: 0px;
	color: white;
	opacity: 0.4;
	margin: 0 4vw;
}
#facebook:hover {
	opacity: 1;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#twitter {
	padding: 0px;
	color: white;
	opacity: 0.4;
	margin: 0 4vw;
}
#twitter:hover {
	opacity: 1;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#googleplus {
	padding: 0px;
	color: white;
	opacity: 0.4;
	margin: 0 4vw;
}
#googleplus:hover {
	opacity: 1;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#linkedin {
	padding: 0px;
	color: white;
	opacity: 0.4;
	margin: 0 4vw;
}
#linkedin:hover {
	opacity: 1;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#instagram {
	padding: 0px;
	color: white;
	opacity: 0.4;
	margin: 0 4vw;
}
#instagram:hover {
	opacity: 1;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#pinterest {
	padding: 0px;
	color: white;
	opacity: 0.4;
	margin: 0 4vw;
}
#pinterest:hover {
	opacity: 1;
	transition:all 0.5s ease-in-out;
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}


/*------------------- MEDIA QUERYS ------------*/
@media ( max-width : 600px) {
	#hr_footer {
		display: none;
	}
}
@media ( max-width : 768px) {
